.profile {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: none; /* Remove the border */
  border-radius: 0; /* Remove the border radius */
  box-shadow: none; /* Remove the box shadow */
}

.profile h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.profile p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.profile ul {
  list-style-type: none;
  padding: 0;
}

.profile ul li {
  margin-bottom: 10px;
  padding-bottom: 10px; /* Add padding to the bottom */
  border-bottom: 1px solid #ddd; /* Add a line after each item */
}

.profile ul li a {
  text-decoration: none;
  color: #000;
}

.profile ul li a:hover {
  color: #756c6c;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .profile {
    padding: 10px;
  }

  .profile h2 {
    font-size: 20px;
  }

  .profile p {
    font-size: 14px;
  }
}
